*{
    border: 1px solid slateblue;
}

body{
    height: 100vh;
}

.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top{
    width:75vw;
    height: 49vh;
    display: flex;
    flex-direction: column;
}

.bottom{
    width: 75vw;
    height: 49vh;
    display: flex;
    flex-direction: column;
}